<!DOCTYPE html>
<html dir="ltr" lang="en-GB"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{ page.title }}</title>
	<link rel="stylesheet" href="style.css" type="text/css" media="all" />
</head><body><div id="wrapper">
  
  <div id="nav">
    <ul class="clear">
      <li><a href="index.html">Introduction</a></li>
      <li><a href="license.html">License</a></li>
    </ul>
  </div>
  
  <div id="header">
    <h1>{{ page.title }}</h1>
  </div>
  
  <div class="article">
    {{ content }}
  </div>
  
  <div id="footer">
    <p>Stylish is developed by <a href="http://extralogical.net/">Benedict Eastaugh</a>, and distributed under the <abbr title="Berkeley Software Distribution">BSD</abbr> license. Please see the <a href="license.html">license page</a> for more details.</p>
  </div>
  
</div></body></html>
